[Match]
Name=bond1.3210

[Network]
DHCP=yes
IPv6AcceptRA=yes
LinkLocalAddressing=yes
IPv6LinkLocalAddressGenerationMode=eui64
IPv4LLRoute=no
DNS=1.1.1.1
DNSSEC=allow-downgrade
DNSOverTLS=opportunistic
LLMNR=no
MulticastDNS=yes
LLDP=no
EmitLLDP=no
IPForward=true
VRF=vrf-3210
