[Match]
Name=bond1

[Network]
DHCP=yes
IPv6AcceptRA=yes
LinkLocalAddressing=yes
IPv6LinkLocalAddressGenerationMode=eui64
IPv4LLRoute=no
DNS=1.1.1.1
DNSSEC=allow-downgrade
DNSOverTLS=opportunistic
LLMNR=no
MulticastDNS=yes
LLDP=routers-only
EmitLLDP=true
IPForward=true
VLAN=bond1.2345
VLAN=bond1.3210
