Package: nftables
Pin: release a=testing
Pin-Priority: 999

Package: libnftables1
Pin: release a=testing
Pin-Priority: 999

Package: libgmp10
Pin: release a=testing
Pin-Priority: 999

Package: libjansson4
Pin: release a=testing
Pin-Priority: 999

Package: libnftnl11
Pin: release a=testing
Pin-Priority: 999


